body {
  font-family: Arial, sans-serif;
  margin: 1em;
  align-items: center;
  line-height: 1.5; /* Increase line height for better readability */
}

input[type="file"] {
  margin-bottom: 10px;
}

input[type="submit"] {
  cursor: pointer;
}

.popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.popup-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  text-align: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
