<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generate Chronology (Alpha)</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <h1>Generate Chronology (Alpha)</h1>
    <p>Convert your Microsoft Word (.docx) file to a paragraph-referenced chronology</p>
    <form action="/success" method="post" enctype="multipart/form-data">
        <input title="Choose File" type="file" name="file" />
        <input type="submit" value="Convert">
    </form>
    <p>Early experimental stage (peek <a
            href="https://technical-blog.3willows.xyz/2024-10-21-generate-chronology-first-steps/"
            target="no_opener no_referer">under the hood</a>).
    </p>
    <p>Put in only Word documents already available to the public.
    </p>
    <p>
        <a href="https://github.com/3willows/Generate-chronology-alpha" target="no_opener no_referer"> Help wanted!</a>
        The project is intended to be free forever for users.
    </p>
    <p>Laptop/computers only: you shouldn't be working on your mobile!</p>
</body>

</html>